<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PAd</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link href="PAd.css" type="text/css" rel="stylesheet">
    <script src="vendor/jquery.min.js"></script>
  </head>
  <body>
    <div id="PAd">
      <ul class="modules"></ul>
      <div class="spacer"></div>
      <div class="toolbar row clearfix">
        <div class="name span10">Your App @ PAd</div>
        <div class="session span2"></div>
        <div class="shortcuts span10"></div>
      </div>
    </div>
    <script src="vendor/jquery-ui.min.js"></script>
    <script src="vendor/underscore-min.js"></script>
    <script src="vendor/backbone-min.js"></script>
    <script src="vendor/backbone.localStorage-min.js"></script>
    <script src="vendor/keymaster.min.js"></script>
    <script src="vendor/backbone.locksmith.js"></script>
    <script src="vendor/mixins.js"></script>
    <script src="modules.js"></script>
    <script src="PAd.js"></script>

    <!-- Models >> -->
    <!-- TODO Put the app's models -->
    <!-- << Models -->

    <!-- Collections >> -->
    <!-- TODO Put the app's collections -->
    <!-- << Collections -->

    <!-- Routers >> -->
    <script src="routers/modules.js"></script>
    <!-- << Routers -->

    <!-- Views >> -->
    <script src="views/modules/index.js"></script>
    <script src="views/records/index.js"></script>
    <!-- << Views -->

    <script>$(function() { PAd.init({modules: sample_modules()}); });</script>

    <script type="text/template" id="template_module">
      <li data-module="<%= module %>" class="module clearfix <%= module.toLowerCase() %>">
        <div class="sidebar vertical-align">
          <div class="name"><%= module %></div>
          <div class="text">Champollion deciphered the wrinkled granite hieroglyphics. But there is no Champollion to decipher the Egypt of every man's and every being's face. Physiognomy, like every other human science, is but a passing fable. If then, Sir William Jones, who read in thirty languages, could not read the simplest peasant's face in its profounder and more subtle meanings, how may unlettered Ishmael hope to read the awful Chaldee of the Sperm Whale's brow? I but put that brow before you. Read it if you can.</div>
        </div>
        <div class="content"><%= _.jst('list', {properties: properties}) %></div>
      </li>
    </script>
    <script type="text/template" id="template_list">
      <table class="zebra-striped">
        <thead>
          <tr>
            <th class="action" colspan="2"></th>
            <% _.each(properties, function(property) { %>
              <th class="property" data-property="<%= property %>"><span><%= _.replace_and_capitalize(property, '_', true) %></span></th>
            <% }); %>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </script>
    <script type="text/template" id="template_record">
      <tr data-id="<%= id %>">
        <td class="action update">EDIT</td>
        <td class="action delete"><div></div></td>
        <% _.each(values, function(value) { %>
          <td><%= value %></td>
        <% }); %>
      </tr>
    </script>
  </body>
</html>
