html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.vertical-align {
  display: table-cell;
  height: inherit;
  width: inherit;
  vertical-align: middle;
}
#PAd {
  height: 100%;
  min-width: 100%;
}
#PAd .modules {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
#PAd .module {
  border: 2px solid transparent;
  min-width: 1000px;
}
#PAd .module.active {
  background-color: #e1f3fa;
  height: 100%;
}
#PAd .module.selected {
  border: 2px solid #00adee;
}
#PAd .module .sidebar {
  float: left;
  width: 250px;
  font-size: 16px;
  line-height: 1.5em;
}
#PAd .module .sidebar .name {
  padding: 30px 0 30px 30px;
}
#PAd .module .sidebar .text {
  background-color: white;
  height: 100%;
  display: none;
  padding: 20px 30px;
  color: #929497;
  font-size: 12px;
  line-height: 1.2em;
}
#PAd .module.active .sidebar {
  height: 100%;
}
#PAd .module.active .sidebar .text {
  display: block;
}
#PAd .module .content {
  margin-left: 250px;
  overflow: auto;
}
#PAd .module table {
  color: #58595b;
  border: none;
  width: auto;
  margin-bottom: 0;
}
#PAd .module table th + th, #PAd .module table td + td {
  border-left: none;
}
#PAd .module table thead th {
  padding-right: 20px;
  border-bottom: none;
  font-weight: normal;
  padding-left: 5px;
  color: #929497;
  height: 66px;
}
#PAd .module table thead th span {
  border-left: 6px solid #929497;
  padding: 10px 5px;
}
#PAd .module table thead th.action {
  border: none;
  padding: 0;
}
#PAd .module table tbody {
  display: none;
}
#PAd .module.active .content {
  height: 100%; 
  background-color: white;
}
#PAd .module.active table {
  width: 100%;
  max-height: 100%;
  border-collapse: collapse;
  text-align: left;
}
#PAd .module.active table thead th {
  color: black;
  background-color: #e1f3fa;
}
#PAd .module.active table tbody {
  display: table-row-group;
}
#PAd .module.active table tbody td {
  padding: 10px 0 10px 5px;
  border: none;
  max-width: 250px;
}
#PAd .module.active table tbody td.action {
  text-align: center;
  cursor: pointer;
}
#PAd .module.active table tbody td.action.delete div {
  background: transparent url('images/delete-icon.png') no-repeat 0 0;
  margin-top: 3px;
  height: 15px;
  width: 15px;
}
#PAd .module.active table tbody td.action.delete div:hover {
  background-position: 0 -15px;
}
#PAd .spacer {
  height: 60px;
}
#PAd .toolbar {
  background-color: #6d6e71;
  padding: 15px 30px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  min-width: 100%;
  font-family: Georgia, serif;
  color: white;
}
#PAd .toolbar .name {
  padding-top: 5px;
}
#PAd .toolbar .session {
  width: 32px;
  height: 32px;
  background: transparent url('images/key-icon.png') no-repeat 0 0;
}

table.zebra-striped tbody tr:nth-child(even) td {
  background-color: white;    
}
table.zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f2f8f8;
}
